$nav-height: 3rem;

$font-size-mini:.75rem; 
$font-size-small: .875rem; 
$font-size:1rem; 
$font-size-large:1.125rem; 
$font-size-big:1.6rem; 


$blue:#2558d9;
$green: #0d8551;
$red: #ef4034;
$aaa: #aaa;
$eee:#eee;
$c3: #333;
$c6: #666;


$color: #dbdde1;
$hoverColor: #dbdde1;
$activeColor: #dbdde1;
$borderColor:#2558d9;

$nav-background-color: #0e1936;
$background-color:#0e1014;

$background:#fff;
$background-blue:#2558d9;
$background-green:#0d8551;

